/*css styles*/
.mx-iile-faq-form small {
	display: none;
	color: red;
}
.mx_invalid_form .mx_empty_field + small,
.mx_invalid_form .mx_empty_field ~ small {
	display: block;
}
.mx_invalid_form .mx_empty_field ~ small.mx_small_inv_email {
	display: none;
}
.mx_invalid_form .mx_incorrect_email ~ small.mx_small_inv_email {
	display: block;
}
.mx_invalid_form .mx_empty_field.mx_incorrect_email ~ small.mx_small_inv_email {
	display: none;
}
.mx-send-message img {
	width: 60px;
	display: none;
}
.mx_message_sending .mx-send-message img {
	display: block;
}
.mx_message_sending .mx-send-message button {
	display: none;
}
.mx-thank-you-for-message {
	display: none;
	background: #cefedf;
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
}
.mx-message-has-sent .mx-thank-you-for-message {
	display: block;
}
.mx-message-has-sent .mx-send-message button {
	display: none;
}
.mx-faq-item {
	border: 1px solid #fafafa;
    margin-bottom: 15px;
}

/*faq form*/
#mx_iile_faq > div,
.mx-faq-server-side-rendering > div {
    width: 100%;
}
#mx_iile_faq,
.mx-faq-server-side-rendering {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-width: 100%;
}
.mx-iile-faq-form {
    max-width: 700px;
    width: 100%;
    margin: auto;
}
.mx-form-control {
    margin-bottom: 15px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.mx-two-inputs-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.mx-two-inputs-row .mx-form-control {
    width: 49%;	
}
.mx-form-control input[type="text"],
.mx-form-control input[type="email"] {
    width: 100%;
    border: 1px solid rgb(209 213 219 / 1);
    border-radius: 3px;
    height: 50px;
    font-size: 15px;
    color: black;
}
.mx-faq-list-of-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-flow: column;
	width: 100%;
}
.mx-faq-item-header {
	background-color: #cccc18;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mx-faq-item-header div {
	padding: 10px;
}
.mx-faq-item-body div {
    padding: 10px;
}
.mx-faq-item-question {
    color: #333;
    background-color: #fafafa;
    font-style: italic;
}
.mx-faq-item-subject {
	margin: auto;
    margin-left: 15px;
    font-weight: 600;
    color: #003087;
    text-transform: uppercase;
    font-size: 25px;
    width: 85%;
}
.mx-faq-item-subject a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mx-faq-item-subject a:hover {
    color: #fff;
}
.mx-faq-item-subject a:hover strong {
    text-decoration: underline;
}
.mx-faq-item-user {
	border-left: 2px solid #F4F4F4;
	max-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #1e3a8a;
    justify-content: center;
}
.mx-faq-item-answer {
	border-top: 1px solid #fafafa;
	font-weight: 600;
	color: #003087;
}
.mx-form-control textarea {
	font-size: 15px;
    color: black;
    border: 1px solid rgb(209 213 219 / 1);
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}
.mx-form-title {
    /*background: #003087;*/
    height: auto;
    display: block;
    width: 100%;
	margin-bottom: 40px;
    margin-top: 20px;
}
.mx-form-title span {
    font-size: 20px;
    padding: 10px 5px;
    text-align: center;
    line-height: 26px;
    display: block;
    font-family: Verdana, Arial;
    font-weight: normal;
    color: #333;
}
.mx-iile-faq-form-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-flow: column;
	width: 100%;
}
.mx-send-message {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.mx-send-message button {
	background-color: #003087;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding: 7px 14px 8px;
    margin: auto;
}
.mx-send-message button:hover {
	background-color: #1e3a8a;
}
button {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
button:hover {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    cursor: pointer;
}
label[for="mx_agrement"]{
	font-family: 'Calibri', 'Arial', 'Times New Roman';
    font-size: 15px;
    color: #333;
}
.mx-form-control input[type="checkbox"] {
	height: 15px;
    width: 15px;
    margin: auto 15px;
    min-width: 15px;
}

/*pagination*/
#mx_iile_faq ul.mx-faq-pagination {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 6px;
}
ul.mx-faq-pagination li {
    display: inline-block;
}
ul.mx-faq-pagination li a {
    text-decoration: none;
    padding: 6px 10px;
    font-size: 18px;
    border: 1px solid #1e3a8a;
}
ul.mx-faq-pagination li.mx-current-page a,
ul.mx-faq-pagination li a:hover {
    background: #003087;
    color: #fff;
}
.mx-displat-none {
    display: none;
}
.mx-displat-block {
    display: block !important;
}
.mx-loading-faq {
    display: block;
    text-align: center;
}
.mx-loading-faq img {
    width: 50px;
}

/*search*/
.mx-no-items-found {
    margin-bottom: 20px;
}
.mx-faq-search {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mx-faq-search > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#mx_iile_faq .mx-faq-button,
.mx-faq-server-side-rendering .mx-faq-button {
    text-align: center;
    width: 150px;
}
#mx_iile_faq .mx-faq-button,
.mx-send-message button,
#mx_iile_faq .mx-faq-button:visited,
.mx-faq-server-side-rendering .mx-faq-button,
.mx-faq-server-side-rendering .mx-faq-button:visited,
.mx-faq-server-side-rendering .mx-send-message button {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 14px;
    margin: auto 0;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(209 213 219 / 1);
    background: none;
    color: #1e3a8a;
    font-weight: bold;
    margin-left: 10px;    
}
#mx_iile_faq .mx-faq-button:hover,
#mx_iile_faq .mx-faq-button:focus,
#mx_iile_faq .mx-faq-button:active,
.mx-faq-server-side-rendering .mx-faq-button:hover,
.mx-faq-server-side-rendering .mx-faq-button:focus,
.mx-faq-server-side-rendering .mx-faq-button:active,
.mx-send-message button:hover {
    background-color: #1e3a8a;
    color: #ffffff;
}
#mx_iile_faq .mx-faq-search input,
.mx-faq-server-side-rendering .mx-faq-search input {
    height: 50px;
    border-radius: 3px;
    font-size: 15px;
}

/*recaptcha*/
.mx-recaptcha-wrap {
    margin-bottom: 20px;
}
.mx-faq-item-date {
    display: none;
}

/* SSR */
.mx-faq-server-side-rendering .mx-faq-pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*media*/
@media screen and (max-width: 1161px) {
    .mx-faq-item-subject {
        width: 84%;
    }
}
@media screen and (max-width: 1100px) {
    .mx-faq-item-subject {
        width: 81%;
    }
    .mx-faq-item-user {
        max-width: 16%;
    }
}
@media screen and (max-width: 992px) {
    .mx-two-inputs-row .mx-form-control {
        width: 100%;
    }
    .mx-form-control input[type="checkbox"] {
        margin: auto 4px auto 0;
    }
    label[for="mx_agrement"] {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .mx-faq-search {
        justify-content: center;        
    }
    .mx-faq-search > div {
        order: 2;
        margin-bottom: 20px;
        justify-content: center; 
    }
    .mx-faq-search > div.mx-make-question {
        order: 1;
        width: 100%;
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
    }
    .mx-faq-item-subject {
        width: 80%;
        margin-left: 0;
    }
    .mx-faq-item-user {
        max-width: 20%;
    }
    .mx-faq-item-subject {
        font-size: 22px;
        line-height: 28px;
    }
    .mx-faq-item-subject a {
        padding-left: 10px;
    }
    .mx-make-question {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .mx-faq-item-subject {
        width: 100%;
    }
    .mx-faq-item-user {
        display: none;
    }
}